.img{
    width: 150px;
    height: 150px;
}

.texts {
    h3{
        font-size: 1.2rem;
    }
    
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}

.cart {
    font-size: 10rem;
}

.spacer{
    height: 227px;
}
.spacer1{
    height: 261px;
}